@model IEnumerable<Race>

<ul class="row feature-list feature-list-sm">
	@foreach (var race in Model)
	{
		<li class="col-12 col-md-6 pt-4 col-lg-4 ">
			<div class="card">
				<a type="button" asp-controller="Race" asp-action="Details" asp-route-id="@race.Id">
					<img class="card-img-top" src="@race.Image" height="225" alt="Card image cap">
				</a>
				<div class="card-body">
					<h4 class="card-title">@race.Title</h4>
					<p class="card-text">@race.Description</p>
					<p class="card-text">@race.Address.City, @race.Address.State</p>
				</div>
				<div class="card-footer card-footer-borderless p4 d-flex justify-content-between">
					<div>
						<small>@race.RaceCategory</small>
						<a asp-controller="Race" asp-action="Details" asp-route-id="@race.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
						@if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
						{
						<a asp-controller="Race" asp-action="Edit" asp-route-id="@race.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
						<a asp-controller="Race" asp-action="Delete" asp-route-id="@race.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
						}
						
					</div>

				</div>
			</div>
		</li>
	}
</ul>
